*{
  font-family: monospace;
}

h1{
  font-size: 40px;
}

.cardsCont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  background-color: black;
  color: white;
  margin:5px;
  border-radius: 20px;
  padding:5px;
}

.cardCont *{
  margin:5px;
}

.mainCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right, lightskyblue,lightgreen);
}

.searchBox{
  border:black 1px solid;
  color:grey;
  padding:5px;
  margin: 10px;
}